<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.playerlib">


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <activity
            android:name="demo.playerlib.SimplePlayActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="demo.playerlib.DemoPlayActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>
